@import "tailwindcss";

@layer utilities {
  .home-container {
    @apply relative bg-cover bg-center text-white min-h-[350px] p-[45px_23px];
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), 
                      url("./assets/images/home-hero-bg.jpg");
  }

  .btn-custom {
    @apply inline-flex items-center justify-center px-4 py-0 text-[#ffffff] bg-[#FF8C38] border-0 rounded-[4px] 
           shadow-[rgba(45,35,66,0.4)_0_2px_4px,rgba(45,35,66,0.3)_0_7px_13px_-3px,#D6D6E7_0_-3px_0_inset] 
           text-lg font-[JetBrains_Mono,_monospace] h-[48px] leading-none list-none mt-5
           overflow-hidden relative text-left no-underline transition-all duration-150 cursor-pointer 
           select-none touch-manipulation whitespace-nowrap will-change-[box-shadow,_transform];
  }
}


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

.btn-custom:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn-custom:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-custom:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.van-list-container {
  padding-inline: 23px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;    
}

.van-tile img {
  
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
}

.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

a.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.host-vans-list {
  padding-inline: 26px;
}

.host-vans-title {
  margin-block: 10px;
  padding-inline: 26px;
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.host-van-single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}